*__pycache__*
docs/build/
docs/source/_build/
*.old
.DS_Store
*.bk
.vscode/
cython_build/*
cython_build
blendernc/blendernc_updater/*
blendernc/blendernc_updater
tests/dataset/*.idx
dask-worker*
*dask-worker*
node_modules
package-lock.json

# Test
tests/*.png
tests/sitecustomize.py
tests/blender_render.log
tests/.coverage*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Develop - Jupyter Notebook
.ipynb_checkpoints
./develop_notebooks/*
./develop_notebooks*
develop_notebooks*
.ipynb*
blendernc.zip
