attrs==26.1.0 ; python_version >= "3.13"
certifi==2026.7.22 ; python_version >= "3.13"
cffi==2.1.1 ; python_version >= "3.13"
cfgrib==0.9.15.1 ; python_version >= "3.13"
cftime==1.6.5 ; python_version >= "3.13"
charset-normalizer==3.5.1 ; python_version >= "3.13"
click==8.4.2 ; python_version >= "3.13"
cloudpickle==3.1.2 ; python_version >= "3.13"
cmocean==4.0.3 ; python_version >= "3.13"
colorama==0.4.6 ; python_version >= "3.13" and platform_system == "Windows"
contourpy==1.3.3 ; python_version >= "3.13"
cycler==0.12.1 ; python_version >= "3.13"
dask==2026.8.0 ; python_version >= "3.13"
donfig==0.8.1.post1 ; python_version >= "3.13"
eccodes==2.47.0 ; python_version >= "3.13"
ecmwflibs==0.7.0 ; python_version >= "3.13"
findlibs==0.1.3 ; python_version >= "3.13"
fonttools==4.63.0 ; python_version >= "3.13"
fsspec==2026.7.0 ; python_version >= "3.13"
google-crc32c==1.8.0 ; python_version >= "3.13"
idna==3.19 ; python_version >= "3.13"
kiwisolver==1.5.0 ; python_version >= "3.13"
locket==1.0.0 ; python_version >= "3.13"
matplotlib==3.11.1 ; python_version >= "3.13"
netcdf4==1.7.4 ; python_version >= "3.13"
numcodecs==0.16.5 ; python_version >= "3.13"
numpy==2.5.2 ; python_version >= "3.13"
packaging==26.3 ; python_version >= "3.13"
pandas==3.0.5 ; python_version >= "3.13"
partd==1.4.2 ; python_version >= "3.13"
pillow==12.3.0 ; python_version >= "3.13"
platformdirs==4.11.4 ; python_version >= "3.13"
pooch==1.9.0 ; python_version >= "3.13"
psutil==7.2.2 ; python_version >= "3.13"
pycparser==3.0 ; python_version >= "3.13" and implementation_name != "PyPy"
pyparsing==3.3.2 ; python_version >= "3.13"
python-dateutil==2.9.0.post0 ; python_version >= "3.13"
pyyaml==6.0.3 ; python_version >= "3.13"
requests==2.34.2 ; python_version >= "3.13"
scipy==1.18.1 ; python_version >= "3.13"
six==1.17.0 ; python_version >= "3.13"
toml==0.10.2 ; python_version >= "3.13"
toolz==1.1.0 ; python_version >= "3.13"
typing-extensions==4.16.0 ; python_version >= "3.13"
tzdata==2026.3 ; python_version >= "3.13" and (sys_platform == "win32" or sys_platform == "emscripten")
urllib3==2.7.0 ; python_version >= "3.13"
xarray==2026.7.0 ; python_version >= "3.13"
zarr==3.3.0 ; python_version >= "3.13"
