name: Test

on: [push, pull_request]

jobs:
  pre_job:
    continue-on-error: true
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: 'same_content'
          skip_after_successful_duplicate: 'true'
          paths_ignore: '["**/README.md", "**/docs/**"]'
          do_not_skip: '["pull_request", "schedule"]'

  test:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        blender: ['2.93', '2.92', '2.90', '2.83']
    steps:
      - uses: actions/checkout@v2
      - name: Pull Blender Docker Image
        run: |
          docker pull nytimes/blender:${{ matrix.blender }}-cpu-ubuntu18.04

      - name: Test addon
        run: |
          docker run -w /blendernc --rm --mount type=bind,source="$(pwd)",target=/blendernc -t nytimes/blender:${{ matrix.blender }}-cpu-ubuntu18.04 /bin/sh -c "bash ./tests/build-test.sh"

      - name: Upload math coverage results
        uses: actions/upload-artifact@v2
        with:
          name: coverage_${{ matrix.blender }}
          path: ./tests/.coverage_*


  coverage:
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install coverage
        run: |
          python -m pip install --upgrade pip
          pip install coverage

      - name: Download coverage
        uses: actions/download-artifact@v2
        with:
          path: ./tests/

      - name: Coverage combine and report
        run: |
          docker run -w /blendernc --rm --mount type=bind,source="$(pwd)",target=/blendernc -t nytimes/blender:latest /bin/sh -c "bash ./tests/coverage-combine.sh"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./tests/coverage.xml
          flags: unittests

